/*-----------------------------------*\
    Page
\*-----------------------------------*/
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Belgrano', serif;
  background: #eee;
  background-size: cover; }

::selection {
  background: #eee;
  color: #333333;
  text-shadow: none; }

a {
  text-decoration: none;
  transition: all 0.2s;
  color: #333333; }

/*-----------------------------------*\
    Dropdown
\*-----------------------------------*/
.dropdown {
  font-size: 16px;
  line-height: 1.5em;
  width: 180px;
  position: absolute;
  padding: 20px 0;
  background: #fff;
  display: none;
  top: 50%;
  left: 50%;
  margin-top: -210px;
  margin-left: 270px; }
  .dropdown a {
    display: block;
    padding: 2px 20px;
    transition: none; }
    .dropdown a i {
      margin-right: 0.25em; }
  .dropdown a:hover {
    background: #333333;
    color: #fff; }
  .dropdown .divider {
    margin: 10px 0;
    border-top: 1px solid #333333;
    opacity: 0.1; }

.toggle-dropdown {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  line-height: 40px;
  font-size: 2em;
  text-align: center;
  margin-top: -250px;
  margin-left: 270px;
  background: rgba(255, 255, 255, 0.5);
  transition: background 0.2s; }

.toggle-dropdown.enabled, .toggle-dropdown:hover {
  background: white; }

/*-----------------------------------*\
    Sudoku Board
\*-----------------------------------*/
.sudoku-board {
  width: 460px;
  height: 460px;
  background: #333333;
  border: 20px solid #333333;
  position: absolute;
  left: 0;
  top: 0; }
  .sudoku-board .sudoku-square {
    display: inline-block;
    width: 153px;
    background: #eeeeee; }
  .sudoku-board .input-fix {
    border: none;
    padding: 0;
    outline: none;
    font-family: inherit; }
  .sudoku-board .sudoku-tile {
    width: 50px;
    height: 50px;
    background: white;
    border-top: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    display: inline-block;
    font-size: 25px;
    text-align: center;
    color: #1661b2;
    line-height: 50px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .sudoku-board .sudoku-tile-error {
    color: #e01b1e; }
  .sudoku-board .sudoku-tile:focus {
    background: #1b7ae0;
    color: #cee3f9;
    -moz-box-shadow: inset 0 0 10px #05172a;
    -webkit-box-shadow: inset 0 0 10px #05172a;
    box-shadow: inset 0 0 10px #05172a;
    border-top: 1px solid #05172a;
    border-left: 1px solid #05172a; }
  .sudoku-board .disabled {
    color: #333333; }
  .sudoku-board .edge-tile-left {
    border-left: 1px solid #333333; }
  .sudoku-board .edge-tile-top {
    box-shadow: 0 -1px 0 0px #333333;
    border-top: none;
    padding-top: 1px; }
  .sudoku-board .edge-tile-top:focus {
    border-top: 1px solid #05172a;
    margin-top: -1px; }

/*-----------------------------------*\
    Container and "back"-side pages.
\*-----------------------------------*/
.middle-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 500px;
  margin-top: -250px;
  margin-left: -250px; }

.back {
  width: 500px;
  height: 500px;
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
  display: none; }

.back div {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 20px; }

.back p {
  line-height: 1.6em; }

.back p a {
  color: #1b7ae0;
  position: relative; }

.upper-right-x {
  color: #333333;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: block;
  font-size: 2.1em;
  transition: color 0.6s;
  z-index: 9000; }

.upper-right-x:hover {
  color: #ccc; }

/*-----------------------------------*\
    "Fork me" Link
\*-----------------------------------*/
.fork-me {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  width: 149px;
  height: 149px; }
