// HACK: this whole file should be refactored, very mvp

body {
    background: #eee;
    font-family: sans-serif;
    padding: 0;
    margin: 0;

    @media print {
        background: #fff;
    }

    ::selection {
        background-color: rgb(254, 206, 46);
    }
}

a {
    color: #000;
}

.hidden {
    display: none !important;
}

#loadingPopover {
    background: rgba(240, 240, 240, 0.8) url("../img/loading.gif") no-repeat center center;
    backdrop-filter: blur(5px);
    position: fixed;
    left: 200px;
    top: 0;
    right: 0;
    bottom: 0;

    @media (max-width: 600px) {
        left: 0;
    }
}

#options {
    position: fixed;
    top: 20px;
    left: 20px;
    bottom: 20px;
    width: 240px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: scroll;

    @media (max-width: 600px) {
        position: unset;
        width: auto;
        margin: 20px 20px 0 20px;
    }

    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);

    h2 {
        font-size: 110%;
        border-bottom: 1px solid #000;
    }

    label {
        display: block;
        margin-top: 20px;
        font-weight: bold;
    }

    @media print {
        display: none;
    }
}

.logo {
    display: inline-block;
    background: url('../img/paper-sudoku.png') no-repeat;
    width: 200px;
    height: 20px;
    background-size: contain;
}

.paperset {
    margin-top: 20px;
    margin-left: 280px;
    margin-right: 20px;

    @media (max-width: 600px) {
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
        padding-right: 20px;
    }

    @media print {
        margin-left: 0;
        margin-top: 0;
        margin-right: 0;
    }

    &.size-A6 {
        .paper {
            @media print {
                max-width: 105mm;
                width: 105mm;
                aspect-ratio: unset;
            }

            &.title-page {
                padding-top: 200px;
                @media print {
                    padding-top: calc(148mm / 2 - 3em);
                }
            }

            aspect-ratio: 105/148;
        }
    }
    
    &.size-A5 {
        .paper {
            @media print {
                max-width: 148mm;
                width: 148mm;
                aspect-ratio: unset;
            }

            &.title-page {
                padding-top: 200px;
                @media print {
                    padding-top: calc(210mm / 2 - 3em);
                }
            }

            aspect-ratio: 148/210;
        }
    }

    &.size-Letter {
        .paper {
            @media print {
                max-width: 8.5in;
                width: 8.5in;
                aspect-ratio: unset;
            }

            &.title-page {
                padding-top: 200px;
                @media print {
                    padding-top: calc(11in / 2 - 3em);
                }
            }

            aspect-ratio: 8.5/11;
        }
    }

    #puzzlesContainer {
        .paper:first-of-type {
            @media print {
                break-before: avoid;
            }
        }
    }

    .paper {
        background: #fff;
        margin: 20px auto;
        max-width: 600px;

        padding: 20px;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        border-radius: 5px;

        @media print {
            box-shadow: none;
            margin: auto;
            padding: 0;
            break-before: page;
        }

        h1, h2 {
            margin-top: 0;
        }

        &.title-page {
            // Unfortunately flexbox seems to break `break-before` so use "good enough" text centering

            h1 {
                font-size: 3em;
                text-align: center;
            }
            
            h2 {
                font-size: 2em;
                text-align: center;
            }
        }

        table {
            margin-bottom: 20px;
            width: 100%;
            border-collapse: collapse;

            // Safari doesn't seem to allow aspect-ratio on tables. That's why this extra div exists.
            .sudoku-cell {
                aspect-ratio: 1 / 1;
                width: 100%;
                display: grid;
                align-items:center;
            }

            td {
                border: 1px solid black;
                aspect-ratio: 1 / 1;
                text-align: center;
            }

            tr:nth-of-type(3n) {
                td {
                    border-bottom: 4px solid black;
                }
            }

            tr:nth-of-type(1) {
                td {
                    border-top: 4px solid black;
                }
            }

            td:nth-of-type(3n) {
                border-right: 4px solid black;
            }

            td:nth-of-type(1) {
                border-left: 4px solid black;
            }
        }
    }
}

input[type=number],
select {
    width: 100%;
    padding: 7px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #000;
    border-radius: 5px;
    -webkit-appearance: none;

    &:focus {
        border: 1px solid rgb(110, 110, 255);
        outline: none;
    }
}

label {
    small {
        display: inline-block;
        margin-top: 5px;
        font-weight: normal;
    }
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23000000%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    background-position: right .7em top 50%;
    background-size: .65em auto;
}