// Determined values.
$tileDimension: 50px;
$tileBorderWidth: 1px;
$tileFontMultipler: 0.5;
$boardSize: 9;
$sqrtBoardSize: 3; //IDK why SASS can't do this...
$boardBorderDimension: 20px;

// pink: $accentColor: #E01B5D;
// original blue: $accentColor: #1B7AE0;
$accentColor: #1C59C7;
$accentColorTextDark: darken($accentColor, 40%);
$accentColorTextLight: lighten($accentColor, 40%);

$errorColor: #E01B1E;
$errorColorTextDark: darken($errorColor, 40%);
$errorColorTextLight: lighten($errorColor, 40%);

$tileDarkBorder: #333;
$tileLightBorder: #ccc;
$tileBackground: #fff;

$headerHeight: 80px;

// Computed values.
$tileFontSize: $tileFontMultipler * $tileDimension;
$boardDimension: $tileDimension * $boardSize + $tileBorderWidth * ($boardSize + 1);
$squareDimension: $tileDimension * $sqrtBoardSize + $tileBorderWidth * $sqrtBoardSize;

@mixin gradient($from, $to) {
  background-color: $from;
  background-image: -moz-linear-gradient($from, $to);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));
  background-image: -webkit-linear-gradient($from, $to);
  background-image: -o-linear-gradient($from, $to);
}

@mixin radialGradient($from, $to) {
  background-color: $from;
  background-image: -moz-radial-gradient($from, $to);
  background-image: -webkit-gradient(radial, 0% 0%, 0% 100%, from($from), to($to));
  background-image: -webkit-radial-gradient($from, $to);
  background-image: -o-radial-gradient($from, $to);
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Belgrano', serif;
    background: url('../img/background.png');
    background-size: cover;
    //@include radialGradient(#fff, #ccc);
}

a {
    color: #333;
    text-decoration: none;
    transition: all 0.2s;
}

a:hover {
    text-indent: -2px;
}

.leftBar, .rightBar {
    font-size: 16px;
    line-height: 1.5em;
}

.header {
    width: $boardDimension;
    height: $headerHeight;
    line-height: $headerHeight;
    text-align: center;
    font-size: 2.5em;
    color: #333;
    opacity: 0.9;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -$boardDimension / 2 - $headerHeight - 20px;
    margin-left: -$boardDimension / 2;
}

.rightBar {
    width: 120px;
    height: $boardDimension;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -$boardDimension / 2;
    margin-left: $boardDimension / 2 + $boardBorderDimension + 20px;
}

.rightBar a {
    display: block;
}

.leftBar {
    width: 100px;
    text-align: right;
    height: $boardDimension;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -$boardDimension / 2;
    margin-left: -$boardDimension / 2 - $boardBorderDimension - 120px;
}

.bottomBar {
    width: $boardDimension + 2 * $boardBorderDimension;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: $boardDimension / 2 + $boardBorderDimension + 20px;
    margin-left: -$boardDimension / 2 - $boardBorderDimension;
}

.sudokuBoard {
	width: $boardDimension;
	height: $boardDimension;
	background: $tileDarkBorder;
    border: $boardBorderDimension solid $tileDarkBorder;
}

.sudokuSquare {
    display: inline-block;
    width: $squareDimension;
    background: $tileLightBorder;
}

.inputFix {
    border: none;
    padding: 0;
    outline: none;
    font-family: inherit;
}

.sudokuTile {
    width: $tileDimension;
    height: $tileDimension;
    background: $tileBackground;
    border-top:  $tileBorderWidth solid $tileLightBorder;
    border-left: $tileBorderWidth solid $tileLightBorder;
    display: inline-block;
    font-size: $tileFontSize;
    text-align: center;
    color: darken($accentColor, 10%);
    line-height: $tileDimension;
    // TODO: scss does this for you?;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.disabled {
    color: $tileDarkBorder;
}

.sudokuTile:focus {
    background: $accentColor;
    color: $accentColorTextLight;
    -moz-box-shadow:    inset 0 0 10px $accentColorTextDark;
    -webkit-box-shadow: inset 0 0 10px $accentColorTextDark;
    box-shadow:         inset 0 0 10px $accentColorTextDark;
    border-top:  $tileBorderWidth solid $accentColorTextDark;
    border-left: $tileBorderWidth solid $accentColorTextDark;
}

.sudokuTileError {
    color: $errorColor;
}

.edgeTileLeft {
    border-left: $tileBorderWidth solid $tileDarkBorder;
}

.edgeTileTop {
    /* A hacky hack to prevent the triangles where border colors meet. */
    box-shadow: 0 -1px 0 0px $tileDarkBorder;
    border-top: none;
    padding-top: 1px;
}

.edgeTileTop:focus {
    border-top: $tileBorderWidth solid $accentColorTextDark;
    margin-top: -1px;
}

.divider {
    margin: 10px 0;
    border-top: 1px solid #333;
    opacity: 0.1;
}

.middle-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: $boardDimension + 2 * $boardBorderDimension;
    height: $boardDimension + 2 * $boardBorderDimension;
    margin-top: -$boardDimension / 2 - $boardBorderDimension;
    margin-left: -$boardDimension / 2 - $boardBorderDimension;
}

.back {
    width: $boardDimension;
    height: $boardDimension;
    background: $tileDarkBorder;
    color: #fff;
}

.back div {
    display: none;
    margin: 20px;
}

@import "flip";

::selection {
    background: $accentColor;
    color: $accentColorTextLight;
    text-shadow: none;
}